<footer class="w-[800px] max-w-full m-auto">
	<div
		class="w-full mx-auto max-w-screen-xl p-6 md:flex md:items-center md:justify-between"
	>
		<span class="text-xs sm:text-sm text-gray-500 px-5 dark:text-gray-400"
			>© 2024 <a href="/" class=""
				>diiegorgueez</a
			>
		</span>
		<!-- <ul
			class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
		>
			<li>
				<a href="mailto:d.rodriguezto.2023@alumnos.urjc.es" class="hover:underline">Contact</a>
			</li>
		</ul> -->
	</div>
</footer>
