---
import { Image } from "astro:assets";
import avatar from "/src/assets/yo.png";
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="flex justify-center m-auto " >
  <header
    class="py-3 my-4 px-5 flex w-[900px] max-w-full flex-row place-items-center justify-between gap-y-4"
  >
    <div class="flex flex-row items-center gap-x-4 " >
      <a href="/"
        ><Image
          src={avatar}
          loading="eager"
          class="size-[50px] rounded-2xl ring-2 ring-gray-300 dark:ring-slate-600 transition hover:scale-110 bg-gray-200 dark:bg-gray-800"
          alt="diiegorgueez"
        />
      </a>
      <!-- <span class="text-lg font-semibold">diiegorgueez</span> -->
    </div>

    <nav class="flex flex-row gap-x-5 gap-y-2 font-medium place-items-center">
      <!-- <a
			href="/"
			aria-labelledby="Home"
			id="home"
			class="transition hover:text-blue-500 mr-2"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-home"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
					d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
					d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
					d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
			></a
		>
		<a href="/#projects" class="transition hover:text-blue-500">Proyectos</a
		> -->
      <a href="/posts" class="transition hover:text-blue-500 dark:hover:text-blue-700">Blog</a>
      <a href="/contact" class="transition hover:text-blue-500 dark:hover:text-blue-700">Contacto</a>
      <ThemeIcon />
    </nav>
  </header>
</div>
