---

---

<div
  class="prose
  prose-h1:font-bold prose-h1:text-xl text-base md:text-lg
  prose-a:text-gray-700 prose-a:transition prose-a:duration-200 prose-a:font-medium hover:prose-a:text-black prose-a:underline prose-a:decoration-gray-700 hover:prose-a:decoration-black  prose-a:underline-offset-2 prose-h2:no-underline prose-h3:no-underline prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline mx-auto my-8 items-center justify-center"
>
  <slot />
</div>
