---

---

<!-- <div
  class="prose
  prose-h1:font-bold prose-h1:text-2xl prose-h1:no-underline text-base md:text-lg dark:text-white dark:prose-h1:text-white dark:prose-h2:text-white dark:prose-h3:text-white
  prose-a:text-gray-700 dark:prose-a:text-gray-200 prose-a:transition prose-a:duration-200 prose-a:font-medium dark:hover:prose-a:text-white hover:prose-a:text-black prose-a:underline prose-a:decoration-gray-700 hover:prose-a:decoration-black prose-a:underline-offset-2 prose-h2:no-underline prose-h3:no-underline prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline my-8 items-center justify-center no-underline"
>
  <slot />
</div> -->

<div
  class="prose animate
  prose-h1:font-bold prose-h1:text-2xl prose-h1:no-underline text-base md:text-lg 
  prose-a:text-gray-700  prose-a:transition prose-a:duration-200 prose-a:font-medium hover:prose-a:text-black prose-a:underline prose-a:decoration-gray-700 hover:prose-a:decoration-black prose-a:underline-offset-2 prose-h2:no-underline prose-h3:no-underline prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline my-8 items-center justify-center no-underline dark:prose-invert dark:prose-a:text-gray-200 dark:hover:prose-a:text-white dark:hover:prose-a:decoration-gray-400 dark:prose-a:decoration-gray-500"
>
  <slot />
</div>