---
interface Props {
    slug: string;
}

const { slug } = Astro.props;
---
<a
              class="px-5 py-3 bg-gray-50 border rounded-xl text-base font-medium hover:-translate-y-[2px] transition focus:ring focus:ring-gray-100
              dark:bg-gray-900 dark:border-gray-800 dark:focus:ring-gray-800"
              href={`/tags/${slug}`}
            >
<slot/>
</a>